.header {
    height: 60px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #131921;
}

.logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

.search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.searchBar {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}

.nav {
    display: flex;
    justify-content: space-evenly;
}

.option {
    display: flex;
    color: white;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.op1 {
    font-size: 10px;
}

.op2 {
    font-size: 13px;
    font-weight: 800;
}

.cartLogo {
    display: flex;
    align-items: center;
    color: white
}

.cartCount {
    margin-left: 10px;
    margin-right: 10px;
}